<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Inscription</title>
	</head>
	<style type="text/css">
		
	</style>
	<body>
		<div id="mainWrapper">
			<p> Merci ! </p>
			<p>Votre Prénom est : <%= data.prenom %> </p>
		</div>
	</body>
</html>